.slidecontainer {
    position: absolute;
    left: 12%;
    bottom: 45px;

}

.actived-value{
    color: rgba(255,255,255,1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.desactived-value{
    color: rgba(255,255,255,0.8);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}



.slidecontainer li {
    margin-left: 0.75vw;
    display: inline-block;
}

.actived-value {
    font-size: 1.5vw;
}

.desactived-value {
    font-size: 1vw;
}

/* ajeitar essa xibata */
/* @media screen and (max-height: 768px) {

    .slidecontainer li {
        margin-left: 11px;
        display: inline-block;
    }

    .actived-value {
        font-size: 30px;
    }

    .desactived-value {
        font-size: 11px;
    }

}

@media screen and (max-height: 720px) {

    .slidecontainer li {
        margin-left: 8px;
        display: inline-block;
    }

    .actived-value {
        font-size: 34px;
    }

    .desactived-value {
        font-size: 12px;
    }

}


@media screen and (min-height: 1000px) {

    .slidecontainer li {
        margin-left: 11px;
        display: inline-block;
    }

    .actived-value {
        font-size: 40px;
    }

    .desactived-value {
        font-size: 19px;
    }

}
 */
