#timelineRange {
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 10px;
    border-color: saddlebrown;
    width: 72vw;
    left: 15vw;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 10px;
    position: absolute;
    display:block;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.05px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
    background: #ffffff;
    border-radius: 0.7px;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.55px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
    background: #ffffff;
    border-radius: 0.7px;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #bfbfbf;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
    border-radius: 1.4px;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
    border-radius: 1.4px;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
    height: 19.9px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.05px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
    background: #ffffff;
    border-radius: 0.7px;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.55px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
    background: #ffffff;
    border-radius: 0.7px;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #bfbfbf;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
    border-radius: 1.4px;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
    border-radius: 1.4px;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
    height: 19.9px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  
/* #timelineRange::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: saddlebrown;

} */

.text {
    position: absolute;
    bottom: 30px;
}


.map-search-button {
    height: 50px;
    top: 1%;
    left: 1%;
    position: absolute;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 6.05px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
    background: #ffffff;
    border-radius: 0.7px;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.55px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
    background: #ffffff;
    border-radius: 0.7px;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 19.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #bfbfbf;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
    border-radius: 1.4px;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 1.5px solid rgba(255, 132, 59, 0.54);
    border-radius: 1.4px;
    box-shadow: 0.9px 0.9px 1.7px #422918, 0px 0px 0.9px #55351f;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 3.3px 3.3px 7.5px #000000, 0px 0px 3.3px #0d0d0d;
    border: 6px solid #ffffff;
    height: 32px;
    width: 27px;
    border-radius: 29px;
    background: #ffffff;
    cursor: pointer;
    height: 19.9px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  