#container {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
}

#map-id {

    height: 100%;
    width: 100%;
}
.leaflet-popup-tip{
    background: #502f12;
}




.leaflet-popup-content-wrapper{
    font-size: 35px;
    width: 900px;
    height: auto;
    color :black;   
    border: solid 3px #502f12;
    background: #f4d0a4;
    opacity: 1;
}


.leaflet-popup-close-button{
    visibility: hidden;  
}

