body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./img/background.png");
  z-index: -1;
}

@font-face {
  font-family: "OldLondon";
  src: url("../fonts/OldLondon.ttf");
}

#familyLetter {
  font-family: "OldLondon";
}

/* auto complete scroll */
#ui-id-1 {
  z-index: 100000;
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#return-search {
  color: white;
  position: absolute;
  left: -11%;
  top: -8%;
  border: 10px solid rgba(66, 41, 24, 1);
  background-color: rgba(66, 41, 24, 1);
  border-radius: 15px;
  width: 316px;
  height: 77px;
  text-align: center;
}

.loader {
  position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #422918; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 21%;
  left: 47%;
  z-index: 10000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

#infoModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 110em;
  height: 64em;
  margin-top: -32em;
  margin-left: -55em;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/screen2.png);
}

ul {
  list-style-type: none;
}

.ui-menu-item {
  font-family: "ImFell";
  font-size: 20px;
}

/* #return-search {
  margin-top: 44em;
  margin-left: 93em;
} */

table h2 {
  font-size: 70px;
}
table h3 {
  font-size: 40px;
}

table h4 {
  font-size: 40px;
}

#map-id {
  left: 60%;
  top: 35%;
  height: 500px;
  z-index: 10000;
  width: 496px;
  position: absolute;
  outline: none;
  border-radius: 100px;
  border: white;
  border-style: solid;
}

.infoUl {
  border: 10px solid #efdbc1;
  border-radius: 19px;
  background: #efdbc1;
  width: 600px;
  max-height: 150px;
  overflow-y: auto;
}

li {
  font-size: 30px;
}

h2 {
  font-size: 50px;
}
