body {
  background-image: url("./img/tela/1.png");
  height: 1080px;
  width: 1920px;
  background-repeat: no-repeat;
  background-size: cover;
  /* position:absolute;  */
}
#ui-id-1 {
  z-index: 100000;
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tela {
  background-image: url("./img/tela/4.png");
  height: 890px;
  width: 1200px;
  margin: 0px 0 0 0px;

  text-align: center;
  border: rgba(0, 0, 0, 0);
  box-shadow: none;
  background-color: rgba(239, 219, 193, 0);
  background-repeat: no-repeat;
  background-size: contain;
}
.base {
  height: 110px;
  width: 1200px;
  margin: 0px 0 0 0px;
}
.family1 {
  height: 780px;
  width: 339px;
  margin: 0px 0 0 0px;

  background-image: url("./img/tela/3.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.family2 {
  height: 780px;
  width: 339px;
  margin: 0px 0 0 0px;
  background-image: url("./img/tela/3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  margin: 5px 0 0 60px;
}
.title-modal {
  text-align: center;
  font-family: "ImFell";
  font-style: normal;

  font-size: 45pt;
  color: #422918;
}
.text-it {
  text-align: center;
  font-family: "ImFell";
  font-style: italic;
  margin: 0px 50px 0px 50px;
  font-size: 22pt;
  color: #422918;
}

.info {
  position: absolute;
  z-index: 2;
}
.text-inf {
  text-align: center;
  font-family: "ImFell";
  font-style: italic;

  font-size: 21pt;
  color: #422918;
}
.infoc {
  height: 900px;
  width: 600px;
  display: none;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 950px; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
