.card-family {
    text-align: center;
    width: 250px;
    background-color: rgba(239, 219, 193,0.1);
    position: fixed;
    right: 4%;
    top: 3%;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    color: rgba(255,255,255,0.8); 
}

#card-fade-name {
    color: white;
    position: absolute;
    left: 44%;
    top: 1%;
    border: 10px solid rgba(66, 41, 24,1);
    background-color: rgba(66, 41, 24,1);
    border-radius: 15px;
    width: 260px;
    height: 82px;
    text-align: center;
}

#card-fade-family{
    color: white;
    position: absolute;
    left: 85%;
    top: 1%;
    text-align: center;
}

.card-img-top {
    object-fit: scale-down;
    padding-top: 10px;
    border-radius: 10px;
}