@font-face{
    font-family: "ImFell";
    src: url("/fonts/IMFeDPrm28P.ttf");
}
body{
   font-family: "ImFell";
}

.ui-menu-item{

  font-family: "ImFell";
  font-size: 20px;
  
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 500ms;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
}

.modal-backdrop {
    background-color:rgba(0, 0, 0,1);
 }

 .modal-dialog{
    display: flex;
    justify-content: center;
    text-align: center;
 }

.modal-content{
    height: 800px;
    width: 800px;
    border:rgba(0, 0, 0, 0.0);
    box-shadow: none;
    background-color: rgba(239, 219, 193,0);
    background-image: url("./img/background-modal.png");
    background-repeat: no-repeat;
    background-size: contain; 
 }

 .modal-body{
    height: 800px;
    width: 800px;
 }


.loader {
  position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #422918; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 21%;
  left: 47%;
  z-index: 10000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.outer-shadow, .inner-shadow, #timer {
  z-index: 6;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}

.inner-shadow {
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#timer {
  z-index: 1;
  box-shadow: none;
}

.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 100px, 100px, 50px);
  -webkit-border-radius: 100%;
  background-color: #fff;
}

.pie, .dot span {
  background-color: #422918;
}

.pie {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

#left .pie {
  z-index: 1;
  -webkit-animation: left 0.1s linear both;
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
#right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
}

#right .pie {
  -webkit-animation: right 0.1s linear both;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.dot {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  -webkit-animation: dot 1s linear both;
  -webkit-transform-origin: 0% 50%;
}

.dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    -webkit-transform: rotate(270deg);
    z-index: 4;
  }
}


.leaflet-popup-tip{
  background: #502f12;
}




.leaflet-popup-content-wrapper{
  font-size: 20px;
  width: 500px;
  height: auto;
  color :black;   
  border: solid 3px #502f12;
  background: #f4d0a4;
  opacity: 1;
}


.leaflet-popup-close-button{
  visibility: hidden;  
}


::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #422918; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background:  #422918; 
}