#container {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
}


.leaflet-dragging{
    background-color:rgba(239, 219, 193,0.4);
}

#map-id {
    height: 100%;
    width: 100%;
}
.leaflet-tile {
    filter: blur(10px);

}

/* .leaflet-layer.leaflet-zoom-animated{
    z-index: 0;
    background-color: black;
} */

.leaflet-heatmap-layer{
    z-index: 100;
}

.leaflet-tile.leaflet-tile-loaded {
    filter: blur(0);
    transition: .6s all ease-in;
}