@font-face {
    font-family: "ImFell";
    src: url("/fonts/IMFeDPrm28P.ttf");
}

body {

    background-image: url("./img/background.png");
    z-index: -1;
    font-family: "ImFell";
    background-size: contain;

}

.ui-menu-item{

  font-family: "ImFell";
  font-size: 20px;
  
}


.list-group-item{
   background-color: rgba(240,200,150,0.9);
   border-radius: 10px;
   box-shadow: 5px;
   border: 3px solid rgba(235, 235, 235,0.8);
   -webkit-box-shadow: 20px 14px 46px -27px rgba(0,0,0,0.75);

    -moz-box-shadow: 20px 14px 46px -27px rgba(0,0,0,0.75);

    box-shadow: 20px 14px 46px -27px rgba(0,0,0,0.75);

}
.list-group-item2{
    border-radius: 10px;
    box-shadow: 5px;
    border: 3px solid rgba(235, 235, 235,0.8);

 
 }
 
#card-fade-name {
    color: white;
    position: absolute;
    left: 44%;
    top: 1%;
    border: 10px solid rgba(66, 41, 24,1);
    background-color: rgba(66, 41, 24,1);
    border-radius: 15px;
    width: 200px;
    height: 70px;
    text-align: center;
}
#card-fade-back{
    color: white;
    position: absolute;
    left: 44%;
    top: 1%;
    border: 10px solid rgba(66, 41, 24,1);
    background-color: rgba(66, 41, 24,1);
    border-radius: 15px;
    width: 200px;
    height: 80px;
    text-align: center;
}


#personSelectModal{
    position: fixed;
    top: 53%;
    left: 50%;
    width: 110em;
    height: 64em;
    margin-top: -32em;
    margin-left: -55em;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/screen.png");
    background-size: contain;
}
#Arvore{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 110em;
    height: 64em;
    margin-top: -32em;
    margin-left: -55em;
    background-repeat: no-repeat;
    background-size: cover;
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #422918; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 21%;
    left: 47%;
    z-index: 10000;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 500ms;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
}
